
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
  z-index: 1;
}

.center {

  label {
    display: block;
  }
}

.video-settings {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 5px;
  z-index: 2;
}

.videos {
  >* {
    min-width: 50%;
  }
}

#container {
  position: relative;
}

// #home-container {
//   @media (min-width: 768px) {
//     margin-right: 490px;
//     width: auto;
//   }
// }

.sidebar {
  width: 100%;
  height: 100vh;
  margin-top: -55px;
  padding: 55px 0px 0px 0px;

  @media (min-width: 768px) {
    // position: absolute;
    // right: 0;
    // top: 55px;
    // width: auto;
    // height: 100%;
    // z-index: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }
}

.video-container {
  // width: 500px;
  margin: 0px auto;
  position: relative;

  &:after { 
    content: " "; 
    display: block;
    clear: both;
  } 

  p {
    position: absolute;
    color: #fff;
    background: #00000085;
    margin: 0;
    padding: 0px 5px;
    z-index: 2;
  }

  video {
    width: 100%;
    max-height: 600px;
    height: auto;
    // height: 600px;
    background-color: #000000;
    z-index: 1;

    // &.my-video {
    //   height: 215px!important;
    // }
  }

  .speech-results {
    // background: #00000085;
    position: absolute;
    bottom: 7px;
    z-index: 2;
    // padding: 0px 5px;
    // color: #fff;
    // margin: 10px;

    .translate-input{
      background: #00000085;
      padding: 0px 5px;
      color: #fff;
      margin: 10px;
      font-size: 20px;
    }

    .translate-output{
      background: #0035ff85;
      padding: 0px 5px;
      color: #fff;
      margin: 10px;
      font-size: 20px;
    }
  }
}

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}

.people-list {
  width:260px;
  float: left;
  
  .search {
    padding: 20px;
  }
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    height: 770px;
 
    
    
    
    li {
      padding-bottom: 20px;
    }
  }
  
  img {
    float: left;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}

ul#chat {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

  li {
    &:first-child {
      .message-data {
        margin-top: 0;
      }
    }
  }
}

.chat {
  width: 100%;

  @media (min-width: 768px) {
    width: 100%;
    float:left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    height: 100%;
    display: flex;
    flex-direction: column;
    
    color: #434651;
  }
  
  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    max-height: 200px;
    
    img {
      float: left;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: $gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .chat-history {
    padding: 30px 30px 20px;
    overflow-y: scroll;
    flex: 1;
    background: #F2F5F8;
    
    .message-data {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      // margin-bottom: 30px;
      position: relative;
      
      width: auto;
      max-width: 90%;
      overflow-wrap: break-word;
    }
    
    .my-message {
      background: $green;
      border-top-left-radius: 0px;
    }
    
    .other-message {
      background: $blue;
      border-top-right-radius: 0px;
    }
    
  }
  
  .chat-message {
    display: flex;
    
    textarea, input {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      // margin-bottom: 10px;
      border-radius: 5px;
      resize: none;

      &:focus {
        border: none;
        outline: none;
      }
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
      
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
  
.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

canvas.c1 {
  // display: none;
  width: 100%;
}

canvas.c2 {
  // background-image: url("/foo.jpg");
  background-image: url("/transxend/public/foo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.video-container canvas {
  display: none;
  position: absolute;
}

.video-container canvas.c1 {
  display: contents;
}

.video-container canvas.c2 {
  z-index: 1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

@media (min-width: 1200px) {
  .videos div.col:only-child {
    // max-width: 50%;
    // margin-left: 25%;
  }
}

#exampleModal img {
  width: 100%;
  min-height: 170px;
}

.camera-off {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}